{{#partial "botonHome" }}
    <a href="/homeorg" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}


{{#partial "contenidoNav" }}
    <div class="dropdown">
        <button class="nav-drop-custom"  style="min-width: 136.8px!important;" data-bs-toggle="dropdown"  aria-expanded="false"id="menu">
            Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom" href="/areas">Areas</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/empleados">Empleados</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/calcularHCOrg">Calculadora HC</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/cargaDeReportes">Carga de Reportes</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/reportes">Reportes</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/contactos">Contactos</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom"  href="/perfil">Mis datos</a></li>
            <form  method="POST" action="/logout" novalidate>
            <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}

{{#partial "contenido" }}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerUbicacion">
            <h3 class="textoIngreso">Areas</h3>
        </div>
    </div>

    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerRegistro">
            <main>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <ol class="list-group" id="boxTrayectos">
                        <h3 class="textoIngreso">Gestionar áreas - {{nombreOrganizacion}}</h3>
                        {{#each areas}}
                            <form class="was-validated" novalidate method="POST" action="/areas/{{id}}/delete" onsubmit="return confirm('Está seguro que desea borrar el area {{area}}?')">
                            <li class="list-group-item d-flex justify-content-between align-items-start align-middle texto">
                                <div class="ms-2 me-auto">
                                    <a class="listStyle" href="/areas/{{id}}"> {{nombre}}</a>
                                </div>
                                <!--<a class="material-symbols-outlined edit" href="/trayectos/{{id}}/edit">edit</a>-->
                                <button class="material-symbols-outlined delete btn-nohover" type="submit">delete</button>
                            </li>
                            </form>
                        {{/each}}
                    </ol>
                    <div class="d-flex justify-content-center">
                    <span class="material-symbols-outlined" style="margin-top:20px; cursor: pointer;"
                          data-bs-toggle="modal" data-bs-target="#agregarTrayecto">add_circle</span>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <!-- Modal Agregar Area -->
    <div class="modal fade" id="agregarTrayecto" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <main>
                        <form class="was-validated" method="POST" action="/areas" novalidate>

                            <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                <div class="col-md-12">
                                    <label for="inputNombreDelTrayecto" class="form-label textoInputs">Nombre del Area</label>
                                    <input name="name" type="text" class="form-control" id="inputNombreDelTrayecto" placeholder=""
                                           value="" required>
                                </div>
                            </div>


                            <div class="d-flex justify-content-center">
                                <button class="btn btn-custom" type="submit" style="margin-top:10px; margin-bottom: 20px;"
                                        data-bs-dismiss="modal">Agregar</button>
                            </div>

                        </form>
                    </main>


                </div>

            </div>

        </div>
    </div>
    <!--Fin Modal Agregar Trayecto -->


{{/partial}}
{{> base.hbs }}