{{#partial "botonHome" }}
    <a href="/admin" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}
{{#partial "contenidoNav" }}
    <div class="dropdown">
        <button class="nav-drop-custom"  style="min-width: 136.8px!important;" data-bs-toggle="dropdown"  aria-expanded="false"id="menu">
            Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom" href="/factoresDeEmision">Factores de emisión</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/setRecomendaciones">Establecer Recomendaciones</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/gestionar-organizaciones">Organizaciones</a></li>

        </ul>
    </div>

    <div class="dropdown">
        <button class="nav-drop-custom" data-bs-toggle="dropdown" aria-expanded="false" id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom">
            <li id="drop1"><a class="drop-item-custom" href="/perfil">Mis datos</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>

{{/partial}}
{{#partial "contenido" }}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerUbicacion">
            <h3 class="textoIngreso" >Gestionar Factores de Emision</h3>
        </div>
    </div>
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerRegistro">
            <main>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <div class="list-group" id="boxTrayectos">
                        {{#each factores}}
                                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                    <div class="col-md-5">
                                        <span class="listStyle" style="font-size: 15px !important"> {{tipoActividad}}</span>
                                    </div>
                                    <div class="col-md-5">
                                        <span class="listStyle" style="font-size: 15px !important"> {{tipoConsumo}}</span>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="listStyle" style="font-size: 15px !important"> {{factorEmision}}</span>
                                    </div>
                                    <div class="col-md-1">
                                        <button class=" btn-nohover material-symbols-outlined edit" data-bs-toggle="modal"
                                                data-bs-target="#factor{{id}} ">edit</button>
                                    </div>
                                </div>





                            <!-- Modal factor -->
                            <div class="modal fade" id="factor{{id}}" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <main>
                                                <form class="was-validated" method="POST" action="/factoresDeEmision/{{id}}" novalidate>

                                                    <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                                        <h3 class="textoIngreso">Modificar FE </h3>
                                                        <h3 class="textoIngreso" style="font-size: 16px !important">{{tipoActividad}} &nbsp - &nbsp {{tipoConsumo}}</h3>

                                                    </div>
                                                    <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                                        <div class="col-md-12">
                                                            <label for="nuevoFE" class="form-label textoInputs">Nuevo valor FE</label>
                                                            <input name="valor" type="number" class="form-control" id="nuevoFE" placeholder="" step="0.01" min="0" value="{{factorEmision}}" required>
                                                        </div>
                                                        <div class="d-flex justify-content-center" style="margin: 10px 0px 20px 0px;">
                                                            <button class=" btn-custom " type="submit" id="idRegistrarse">Aceptar</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </main>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!--Fin Modal factor -->







                        {{/each}}
                    </div>
                </div>
            </main>
        </div>
    </div>

{{/partial}}

{{> base.hbs }}