{{#partial "botonHome" }}
    <a href="/admin" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}
{{#partial "contenidoNav" }}
    <div class="dropdown">
        <button class="nav-drop-custom"  style="min-width: 136.8px!important;" data-bs-toggle="dropdown"  aria-expanded="false"id="menu">
            Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom" href="/factoresDeEmision">Factores de emisión</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/setRecomendaciones">Establecer Recomendaciones</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/gestionar-organizaciones">Organizaciones</a></li>

        </ul>
    </div>

    <div class="dropdown">
        <button class="nav-drop-custom" data-bs-toggle="dropdown" aria-expanded="false" id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom">
            <li id="drop1"><a class="drop-item-custom" href="/perfil">Mis datos</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}

{{#partial "contenido" }}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerUbicacion">
            <h3 class="textoIngreso" >Gestionar Organizaciones</h3>
        </div>
    </div>
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerRegistro">
            <main>
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <h3 class="textoIngreso">Gestión de Organizaciones</h3>
                    <ol class="list-group" id="boxTrayectos">
                        {{#each organizaciones}}
                            <li class="list-group-item d-flex justify-content-between align-items-start align-middle texto">
                                <div class="ms-2 me-auto">
                                    <a class="listStyle" href="/gestionar-organizaciones/{{id}}"> {{razonSocial}}</a>
                                </div>
                                <a class="material-symbols-outlined edit" href="/gestionar-organizaciones/{{id}}">edit</a>
                                <form method="post" action="/gestionar-organizaciones/{{id}}/delete" class="inline" onsubmit="return confirm('Realmente desea eliminar {{ razonSocial }}?')">
                                    <button type="submit" name="submit_button" value="" class="submit-como-a material-symbols-outlined delete">delete</button>
                                </form>
                                <!--<a class="material-symbols-outlined delete" href="/gestionar-organizaciones/{{id}}/delete">delete</a>-->
                            </li>
                        {{/each}}
                    </ol>
                    <div class="d-flex justify-content-center">
                    <span class="material-symbols-outlined" style="margin-top:20px; cursor: pointer;"
                          data-bs-toggle="modal" data-bs-target="#agregarOrganizacion">add_circle</span>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <!-- Modal Gestion de Organizaciones -->
    <div class="modal fade" id="agregarOrganizacion" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <main>
                        <form class="was-validated" method="POST" action="/signup/organizacion" novalidate>
                            <div  style="color: rgba(0, 0, 0, 0);">ORGANIZACION</div>
                            <input name="tipoUsuario" style="color: rgba(0, 0, 0, 0);" value="ORGANIZACION" type="hidden">

                            <div class="row " style="margin:1vmax 1vmax 1vmax 1vmax; ">
                                <div class="col-md-12">
                                    <label for="razonSocial" class="form-label textoInputs">Razon social</label>
                                    <input name="razonSocial" type="text" class="form-control" id="razonSocial" placeholder=""
                                           value="" required>
                                </div>
                            </div>

                            <div class="row " style="margin:1vmax 1vmax 1vmax 1vmax; ">
                                <div class="col-md-6">
                                    <label for="inputCalle" class="form-label textoInputs">Direccion</label>
                                    <input name="calle" type="text" class="form-control" id="inputCalle" placeholder=""
                                           value="" required>
                                </div>
                                <div class="col-md-3">
                                    <label for="inputNumeracion" class="form-label textoInputs">Numeracion</label>
                                    <input name="numeracion" type="number" class="form-control" id="inputNumeracion"
                                           placeholder="" value="" min="0" required>
                                </div>
                                <div class="col-md-3">
                                    <label for="inputCP" class="form-label textoInputs">Codigo postal</label>
                                    <input name="codPostal" type="number" class="form-control" id="inputCP"
                                           placeholder="" value="" min="0" required>
                                </div>
                            </div>
                            <div class="row " style="margin:1vmax 1vmax 1vmax 1vmax; ">
                                <div class="col-md-6">
                                    <label for="tipo" class="form-label textoInputs">Tipo</label>
                                    <select name="tipo" class="form-select form-select-custom" id="tipo"
                                            required>
                                        <option selected disabled value="">Elegir...</option>
                                        <option value="ONG">ONG</option>
                                        <option value="EMPRESA">EMPRESA</option>
                                        <option value="INSTITUCION">INSTITUCION</option>
                                    </select>

                                </div>

                                <div class="col-md-6">
                                    <label for="clasificacion" class="form-label textoInputs">Clasificacion</label>

                                    <select name="clasificacion" class="form-select form-select-custom" id="clasificacion"
                                            required>
                                        <option selected disabled value="">Elegir...</option>
                                        {{#each clasificaciones}}
                                            <option value="{{id}}"> {{nombre}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                            </div>


                            <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                <div class="col-md-6">
                                    <label for="selectMunicipio" class="form-label textoInputs">Municipio</label>
                                    <select name="municipio" class="form-select form-select-custom" id="selectMunicipio"
                                            required>
                                        <option selected disabled value="">Elegir...</option>
                                        {{#each municipiosODepartamentos}}
                                            <option value="{{id}}">{{municipioOLocalidad}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label for="inputLocalidad" class="form-label textoInputs">Localidad</label>
                                    <input name="localidad" type="text" class="form-control" id="inputLocalidad"
                                           placeholder="" value="" required>
                                </div>
                            </div>
                            <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="form-label textoInputs">Correo electronico</label>
                                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="" value=""
                                           required>
                                </div>
                            </div>
                            <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                                <div class="col-md-6">
                                    <label for="inputContrseñaOrg" class="form-label textoInputs">Contraseña</label>
                                    <div class="input-group mb-6">
                                        <input type="password" class="form-control " id="inputContrseñaOrg"
                                               pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                                               placeholder="" value=""
                                               onfocus="mostrarValidaciones(document.getElementById('validaciones12').id);"
                                               onblur="ocultarValidaciones(document.getElementById('validaciones12').id);"
                                               oninput="setPasswordConfirmValidityOrg();" onkeyup="checkPasswordOrg(this.value);"
                                               required>
                                        <span class="btn-action-icon" id="togglePassword12"
                                              onclick="togglePasswordF12();"></span>
                                        <div id="validaciones12" class="d-none">
                                              <span class="d-flex align-items-center" id="requisitosOrg">&nbsp Debe contener
                                                  al
                                                  menos: </span>
                                            <li class="d-flex align-items-center" id="lowerOrg">Una letra minuscula. &nbsp
                                            </li>
                                            <li class="d-flex align-items-center" id="upperOrg">Una letra mayuscula. &nbsp
                                            </li>
                                            <li class="d-flex align-items-center" id="numberOrg">Un numero. &nbsp </li>
                                            <li class="d-flex align-items-center" id="specialOrg">Un caracter especial.
                                                &nbsp </li>
                                            <li class="d-flex align-items-center" id="lengthOrg">8 caracteres. &nbsp </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputConfirmarContrseñaOrg" class="form-label textoInputs">Confirmar
                                        contraseña</label>
                                    <div class="input-group mb-6">
                                        <input type="password" name="password" class="form-control " id="inputConfirmarContrseñaOrg"
                                               pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,32}$"
                                               placeholder="" value=""
                                               onfocus="mostrarValidaciones(document.getElementById('validaciones22').id);"
                                               onblur="ocultarValidaciones(document.getElementById('validaciones22').id);"
                                               oninput="setPasswordConfirmValidityOrg();" required>
                                        <span class="btn-action-icon" id="togglePassword22"
                                              onclick="togglePasswordF22();"></span>
                                        <div id="validaciones22" class="d-none">
                                            <li class="d-flex align-items-center" id="contrseñaNoCoincideOrg">&nbsp Las
                                                contraseñas
                                                no
                                                coinciden</li>
                                            <li class="d-flex align-items-center d-none" id="contrseñaCoincideOrg">&nbsp
                                                Las
                                                contraseñas coinciden</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center" style="margin: 10px 0px 20px 0px;">
                                <button class=" btn-custom " href="#" type="submit" id="idRegistrarse">Registrar</button>
                            </div>
                        </form>
                    </main>


                </div>

            </div>

        </div>
    </div>
    <!--Fin Modal Gestion de Organizaciones -->


{{/partial}}
{{> base.hbs }}