{{#partial "botonHome" }}
    <a href="/home" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}

{{#partial "contenidoNav" }}
    <div class="dropdown">
        <button class="nav-drop-custom"  style="min-width: 136.8px!important;" data-bs-toggle="dropdown"  aria-expanded="false"id="menu">
            Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom" href="/organizaciones">Organizaciones</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/trayectos">Trayectos</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/calcularhc">Calcular HC</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom"  href="/solicitudes">Solicitudes</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}

{{#partial "contenido" }}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerUbicacion">
            <h3 class="textoIngreso" >Tramo compartido</h3>
        </div>
    </div>
<div class="d-flex flex-column" id="content-wrap">
    <div class=" d-flex align-self-center conteinerRegistro">
        <main>
            <form class="was-validated" novalidate method="POST" action="/trayectos/{{idTrayecto}}/tramos/{{idTramo}}/compartir-tramo">
                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <label name="tramo" class="form-label texto" style="font-size: 24px !important; padding:0px !important;" id="nombreDelTramo">Tramo {{idTramo}}</label>
                </div>
                    <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                        <div class="col-md-12">
                            <label for="miembro" class="form-label textoInputs">Miembro</label>
                            <select name="idMiembro" class="form-select form-select-custom" id="miembro" required>
                                <option selected disabled value="">-- Seleccionar Miembro --</option>
                                {{#each miembros}}
                                <option value="{{id}}">{{usuario.usuario}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                <div class="d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                    <button class=" btn-custom " type="submit" id="idAniadir">Añadir</button>
                </div>
            </form>
        </main>
    </div>
</div>

{{/partial}}
{{> base.hbs }}