{{#partial "botonHome" }}
    <a href="/home" class="navbar-brand ms-5  me-auto">
        <img src="https://raw.githubusercontent.com/ITantucci/ImagenesDDS/main/Logo.png" alt="Logo" width="30"
             height="49" id="logo">
    </a>
{{/partial}}

{{#partial "contenidoNav" }}
    <div class="dropdown">
        <button class="nav-drop-custom"  style="min-width: 136.8px!important;" data-bs-toggle="dropdown"  aria-expanded="false"id="menu">
            Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom" href="/organizaciones">Organizaciones</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/trayectos">Trayectos</a></li>
            <li id="drop1"><a class="drop-item-custom" href="/calcularhc">Calcular HC</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="nav-drop-custom"   data-bs-toggle="dropdown"  aria-expanded="false"id="miPerfil">
            Mi perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-sm-start drop-menu-custom"  >
            <li id="drop1"><a class="drop-item-custom"  href="/solicitudes">Solicitudes</a></li>
            <form  method="POST" action="/logout" novalidate>
                <li id="drop1"><button class="drop-item-custom"  type="submit" style="background: none;color: inherit;	border: none;padding: 0;cursor: pointer; outline: inherit;" >Cerrar sesion</button></li>
            </form>
        </ul>
    </div>
{{/partial}}

{{#partial "contenido" }}
    <div class="d-flex flex-column" id="content-wrap">
        <div class=" d-flex align-self-center conteinerUbicacion">
            <h3 class="textoIngreso" > Tramos </h3>
        </div>
    </div>
<div class="d-flex flex-column" id="content-wrap">
    <div class=" d-flex align-self-center conteinerRegistro">
        <main>

                <div class="row" style="margin:1vmax 1vmax 1vmax 1vmax;">
                    <ul class="list-group" id="boxTrayectos">
                        <label name="trayecto" class="form-label texto" style="font-size: 24px !important; padding:0px !important;"
                                id="nombreDelTrayecto"> Trayecto {{idTrayecto}}</label>
                            {{#each tramos}}
                            <form class="was-validated" novalidate method="POST" action="/trayectos/{{idTrayecto}}/tramos/{{id}}/delete" onsubmit="return confirm('Está seguro que desea borrar este tramo?')">
                        <li class="list-group-item d-flex justify-content-between align-items-start align-middle texto">
                            <div class="ms-2 me-auto">
                                <div class="listStyle" href="/trayectos/{{idTrayecto}}/tramos/{{id}}">Tramo {{id}}</div>
                            </div>
                            <a class="material-symbols-outlined edit" href="/trayectos/{{idTrayecto}}/tramos/{{id}}/compartir-tramo">person_add</a>
                            <button class="material-symbols-outlined delete btn-nohover"  type="submit">delete</button>
                        </li>
                            </form>
                        {{/each}}
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a class="material-symbols-outlined " style="margin-top:20px; cursor: pointer;"
                            href="/trayectos/{{idTrayecto}}/tramos/new">add_circle</a>
                    </div>
                </div>

        </main>
    </div>
</div>

{{/partial}}
{{> base.hbs }}